:root {
    --template-primary-color: #003e77;
    --template-blue-dark-color: #1a73e842;
    --template-primary-hover: #1967d2;
    --template-second-color: #2c2c2c;
    --template-gray-color: #e4e4e4;
    --template-white-color: #fff;

    --template-padding-y: 50px;
    --template-padding-x: 30px;
    --template-primary-fontsize: 50px;
}

.template-view * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.template-view {
    width: 800px;
    min-height: 1102px;
    background-color: var(--template-white-color);
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
}

.template_sm_section_list_item_tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.template_sm_section_list_item_tag {
    background-color: var(--template-primary-color);
    color: var(--template-white-color);
    display: block;
    border-radius: 4px;
    font-weight: bold;
    padding: 3px 7px;
    font-size: calc(var(--template-primary-fontsize) - 38px);
}
